.inputuser {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #555;
  padding: 0px 0px;
}

.inputuser:focus {
  outline: none;
  box-shadow: none !important;
}

.inputuser::-webkit-input-placeholder {
  color: #aaa;
}
